
.header{
    display: flex;
    justify-content: space-between;
   
}
.myLinks{
    display: flex;
    
}
.myLinks-childrens{
    display: flex;
    gap: 1.5em;
}
.hamburguer{
    display: none;
}

@media screen and (max-width: 378px) {
    .body{
        background-image: url(/assets/background/image-mockups.png), url(/assets/background/bg-intro-mobile.svg);
        background-size: 20rem, 25rem;
        background-position-x: 1rem, 0rem;
        background-position-y: -3.6rem, -3rem;
        background-attachment: fixed, fixed;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        }
    .header{
        padding: 1rem;
        background-color: white;
        width: 95%;
    }
    .header-active{
        box-shadow: -50px 50px 200px rgb(31, 30, 30);
        padding: 1rem;
        background-color: white;
        width: 95%;  
    }
    .icon-burguer{
        background-image: url(/assets/icon/icon-hamburger.svg);
        display: inline-block;
        width: 1.5rem;
        height: 0.7rem;
        background-repeat: no-repeat;
    } 
    .burguer-close{
        background-image: url(/assets/icon/icon-close.svg);
        display: inline-block;
        width: 1.5rem;
        height: 1.3rem;
        background-repeat: no-repeat;
    } 
    .myLinks{
        display: none;
     }
     .hamburguer{
        display: block;
     }
    .cta{
        display: none;
    } 
    .myLinks.show{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        padding: 1rem 7.5rem;
        top: 4rem;
        left: 1rem;
        border-radius: 0.3rem;
    }
    .myLinks.show ul {
        display: flex; 
        flex-direction: column;
        list-style-type: none;  
    }
    .myLinks.show a{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
    }
}